[submodule "external/Backend"]
	path = external/Backend
	url = https://github.com/mbarleon-org/Area-Backend.git
	branch = main
[submodule "external/Frontend"]
	path = external/Frontend
	url = https://github.com/mbarleon-org/Area-Frontend.git
	branch = main
[submodule "external/Worker"]
	path = external/Worker
	url = https://github.com/mbarleon-org/Area-Worker.git
	branch = main
